include parts/header
.wrapper
    img(src=glass.foto_1 width="150px")
    img(src=glass.foto_2 width="150px")
    img(src=glass.foto_3 width="150px")
    span=glass.name
    span=glass.id
    p=glass.description

